<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<head>
<meta charset="UTF-8">
<title>Trabajando con listas</title>
</head>
<body>

	<h3 th:if="${Usuarios.isEmpty()}">No hay usuarios en la lista</h3>


	<table th:if="${!Usuarios.isEmpty()}">
		<thead>
			Listado de usuarios
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario:${Usuarios}">
				<th th:text="${usuario.nombre}"></th>
				<th th:text="${usuario.apellido}"></th>
				<th th:text="${usuario.email}"></th>
			</tr>
		</tbody>
	</table>
</body>
</html>